.test {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px;

  border-radius: 15px;

  background-color: var(--background-color);
  color: var(--text-alternative-color);

  p > span {
    color: var(--secondary-color);
  }
}
