.lang {
  position: relative;

  cursor: pointer;

  background-color: transparent;
  border: none;

  &_content {
    display: flex;
    align-items: center;
    gap: 2px;

    font-size: 16px;
    font-family: Inter;

    color: var(--primary-color);
  }
}

.menu {
  position: absolute;
  top: 40px;
  right: -15px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;

  &_button {
    display: flex;
    width: 100%;
    gap: 5px;
    padding: 10px 20px;

    background-color: transparent;
    border: none;
    cursor: pointer;

    align-items: center;

    &:hover {
      background-color: var(--link-color);
      color: #fff;
      transition: 0.3s background-color ease-in-out;
    }
  }
}
