.labelList {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 60px;
}

.wrapper {
  width: 100%;
  padding: 30px;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  border-radius: 20px;
}


.heading{
	text-align: center;
}

.content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;

  gap: 10px;

  button {
    padding: 10px;

    border: 1px solid var(--primary-color);
    background-color: transparent;

    cursor: pointer;
  }
}

.footer {
  margin-top: 40px;
  width: 100%;

  display: flex;
  justify-content: center;

  // TODO Не забыть убрать
  //   button {
  //     padding: 10px;

  //     border: none;
  //     border-radius: 50%;

  //     background-color: var(--primary-color);
  //     color: var(--text-alternative-color);

  //     cursor: pointer;
  //   }
}

.label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.required {
  color: red;
}

.result {
  width: 100%;
  padding: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
