.root {
  position: absolute;
  top: 40px;
  left: -20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  padding: 10px 20px;

  ::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 15px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
  }
}
