@import url("https://fonts.googleapis.com/css?family=Russo+One:regular");
@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900");
:root {
  --text-color: #393e46;
  --text-alternative-color: #fff;

  --link-color: #aad8d3;

  --background-color: #0c80ca;

  --primary-color: #00adb5;
  --primary-colorPressed: #aad8d3;

  --secondary-color: #aad8d3;
  --secondary-colorPressed: #00adb5;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Todo screens */
/* *large 960  */
/* *Medium 720  */
/* *small 540  */

/* Todo screens */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color);
}
