@import url("https://fonts.googleapis.com/css?family=Russo+One:regular");
@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900");
:root {
  /* *Global colors */
  --primary-color: #2397df;
  --secondary-color: #2e3237;

  --background-color: var(--primary-color);

  /* *Element colors */
  --text-color: var(--secondary-color);
  --text-alternative-color: #fff;

  --link-color: var(--primary-color);

  --button-primary-bg: var(--primary-color);
  --button-primary-text: #fff;

  --button-secondary-bg: var(--secondary-color);
  --button-secondary-text: #fff;

  /* *Visited colors */
  --visited-link-color: #8a2be2;

  /* *Hover colors */
  --link-hover-color: #0366cf;
  --button-primary-hover-bg: #0056b3;
  --button-secondary-hover-bg: #5a6268;

  font-family: Inter, "Times New Roman", Times, serif;

  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Todo screens */
/* *large 960  */
/* *Medium 720  */
/* *small 540  */

/* Todo screens */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
