.root {
  width: 99%;
  background-color: var(--secondary-color);
  margin-top: 40px;
  padding: 20px;

  form {
    margin-bottom: 20px;
  }
}

.chart_wrapper {
  display: flex;
  justify-content: center;
  color: #ffffffe1;
}

@media (max-width: 980px) {
}
