.root {
  ul li {
    list-style-type: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  max-width: 1172px;
  margin: 0 auto;
}

.burger {
  display: none;
}

@media (max-width: 960px) {
  .wrapper {
    padding: 20px 10px;
  }

  .adaptive {
    display: block;
  }

  .burger {
    display: block;
  }
}
