.root {
  background-color: var(--background-color);
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  max-width: 1172px;
  margin: 0 auto;
  padding: 40px 10px;
}

.burger {
  display: none;
}

@media (max-width: 992px) {
  .adaptive {
    display: block;
  }

  .burger{
	display: block;
  }
}
