.navigate {
  display: block;
  &_list {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &_item {
    position: relative;

    > a {
      display: inline-block;
      padding: 25px 0;

      font-size: 16px;
      color: var(--text-color);

      border-bottom: 5px solid transparent;

      &:hover {
        color: var(--link-color);
        border-bottom: 5px solid var(--link-hover-color);
      }
    }
  }
}

.childrenLinks {
  top: 74px;
  position: absolute;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.childrenItem > a {
  display: inline-block;
  min-width: 200px;
  padding: 10px;

  &:hover {
    background-color: var(--link-color);
    color: #fff;
    transition: 0.3s background-color ease-in-out;
  }
}

@media (max-width: 960px) {
  .navigate {
    display: none;
  }
}
